@media screen and (max-width: 1019px) {

    .header-navigation__row {
      padding-right: 20px;
    }
  
    .header__logo {
      padding-left: 20px;
    }
  
    .grid-services {
        grid-template-areas:
        "a a"
        "a a"
        "a a";
    }
    .grid-portfolio {
      grid-template-areas:
        "a a a"
        "a a a"
        "a a a"
        "a a a";
      margin: 20px 40px 20px 40px;
    }
  
    .our-services__content > p {
        flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 767px) {
  
    .header-navigation {
      display: none;
    }
  
    .header-wrapper {
      justify-content: center;
    }
  
    .header-navigation__link {
      text-decoration: none;
      color: #ffffff;
      margin-bottom: 27px;
    }
  
    .header-navigation__link:hover {
      color: #f06c64;
    }
  
    .header-navigation__item:not(:last-child):after  {
      content: "";
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .burger-button {
      display: block;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 36px;
      left: 20px;
      outline: none;
    }
  
  
  
  .header-navigation-bg {
      display: block;
  }
  
  .header-navigation__row-bg {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      padding-top: 180px;
      padding-left: 71px;
  }
  
    .burger-button-active {
      transform: rotate(90deg);
      transition: transform 0.5s ease-in-out;
    }
  
    .header-wrapper-bg{
      position: fixed;
      left: 0;
      top: 0;
      background-color:  #2D303A;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 278px;
      height: 100%;
      z-index: 1;
    }
  
  .header-navigation__item-bg {
    font-size: 20px;
    line-height: 44px;
  }
  
    .logo-bg {
      font-size: 19px;
      margin-left: 71px;
    }
  
    .slider-wrapper > div {
      width: 100%;
    }
  
    .grid-services {
      grid-template-areas:
        "a"
        "a"
        "a"
        "a";
        margin-bottom: 0;
    }
  
    .our-services__content {
        padding-bottom: 10px;
        border-bottom: none;
    }
  
    .grid-portfolio {
      position: relative;
      grid-template-areas:
        "a a"
        "a a"
        "a a"
        "a a";
      margin: 30px;
      grid-gap: 10px;
    }
  
    .grid-portfolio img:nth-child(1n + 9) {
      display: none;
    }
  
    .grid-service {
      margin: 0px 20px;
    }
  
    footer,
    .header {
      justify-content: center;
    }
  
    .social-media {
      margin-top: 3px;
      margin-right: 0px;
    }
    header img {
      display: block;
    }
  }
  
  @media screen and (max-width: 375px) {
  
    .our-services__content {
      padding: 60px 10px;
    }
  
    .tab li {
      margin-right: 2px;
      padding: 2px 4px 3px 4px;
    }
  
    footer > p {
      display: none;
    }
  }